body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

.card{
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card footer{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

.card header{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

.card article img{
  max-height: 100%;
  float: right;
}

.card header, footer{
  height: 1.875em;
  padding: 0.625em;
}

.card h2, p{
  margin: 0;
}

.card article{
  height: 7.5em;
  background-color: rgba(0,0,0,0.5);
}

.card h2{
  font-size: 1.25em;
}

.card footer{
  height: 30px;
  display: flex;
  align-items: center;
}

.card footer p{
  font-size: 0.9375em;
}

.card article p{
  margin-left: 6.25px;
  color:white;
}

.maleCard .card{
  display:absolute;
  z-index: 2;
  margin-bottom: -200px;
}

.femaleCard .card{
  z-index: -2;
  margin-right: 100px;
}